<!-- Start Breadcrumbs -->
<section class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
                
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
<!-- About US -->
<section class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="single-image overlay">
                    <img src="~/Content/Assets/img/sister2.jpg" alt="#">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-text">
                    <h2>About Holy Rosary Girls Secondary School Umuahia</h2>
                    
                    <p>Holy Rosary Secondary School Umuahia is a Mission school established by the Catholic Church in 1961. It is located at Ugwunchara Ibeku along Umuahia/Uzuakoli Road. Ana it is under Umuahia North L.G.A. OF Abia State. It was then an all-boarders girls school and was kept under the management of the Holy Rosary Sisters, an international Religious Congregation whose objective was to establish a school for the proper training and up-bringing of the girl-child; to equip her to use her talents 
                    fully and by so doing fulfill God's plan for her and empower her to take up her place in the society.</p>

                    <p>The school was managed by these Rev. Sisters with Sr. Mary Berchmas as the pioneer principal and thirty (30) students she started with, until 1970 when government took over schools from Missions. Mrs. R. U. Onuma became the first principal of the school under government regime. IN 1975 the school was renamed Girls' Secondary School Umuahia 
                    and the school began to admit day students.</p>

                    <p>During the disarticulation of schools, in 2006, the school was disarticulated into Girls' junior Model Secondary School and Girls' Senior Model Secondary School Umuahia in compliance with the Universal Basic Education Commission (UBEC) directives. In 2011, however, the schools were rearticulated to become Girls' Model Secondary School again. Barely one year after the rearticulation, and precisely in September 2012, was the school returned to Catholic Church by the government under the dispensation of Dr. T. A. Orji (Ochendo) Governor of Abia State. The PTA, Staff, and Students are all committed to the positive growth of the school and this in no small measure has won them many 
                    laurels for the school in academic, sports and cultural display both in the past and in recent times</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End About US -->