<!-- Slider Area -->
@Html.Action("_Slider", "Home")
<!--/ End Slider Area -->
<!-- About US -->
<section class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="single-image overlay">
                    <img src="~/Content/Assets/img/hrssu.jpg" alt="#">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-text">
                    <h2>Holy Rosary Secondary School Umuahia</h2>
                    <p>Holy Rosary Secondary School Umuahia is a Mission school established by the Catholic Church in 1961. It is located at Ugwunchara Ibeku along Umuahia/Uzuakoli Road.</p>
                    <p>It was then an all-boarders girls school and was kept under the management of the Holy Rosary Sisters, an international Religious Congregation whose objective was to establish a school for the proper training and up-bringing of the girl-child; to equip her to use her talents fully and by so doing fulfill God's plan 
                    for her and empower her to take up her place in the society</p>
                    <p>The school was managed by these Rev. Sisters with Sr. Mary Berchmas as the pioneer principal and thirty (30) students she started with, until 1970 when government took over schools from Missions. Mrs. R. U. Onuma became the first principal of the school under government regime. IN 1975 the school was renamed Girls' Secondary School Umuahia
                    and the school began to admit day students.</p>

                    <div class="button">
                        <a href="@Url.Action("About", "Home")" class="btn">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End About US -->
<!-- Features -->
<section class="our-features section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Requirements <span>For</span> Holy Rosary</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Single Feature -->
                <div class="single-feature">
                    <div class="feature-head">
                        <img src="~/Content/Assets/img/WhatsApp Image 2021-04-15 at 8.29.58 AM.jpeg" alt="#">
                    </div>
                    <h2>Admission Requirement</h2>
                </div>
                <!--/ End Single Feature -->
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Single Feature -->
                <div class="single-feature">
                    <div class="feature-head">
                        <img src="~/Content/Assets/img/WhatsApp Image 2021-04-15 at 8.29.59 AM.jpeg" alt="#">
                    </div>
                    <h2>Secondary School Subjects</h2>
                </div>
                <!--/ End Single Feature -->
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Single Feature -->
                <div class="single-feature">
                    <div class="feature-head">
                        <img src="~/Content/Assets/img/WhatsApp Image 2021-04-15 at 8.29.59 AM (1).jpeg" alt="#">
                      
                    </div>
                    <h2>Primary School Subjects</h2>
                </div>
                <!--/ End Single Feature -->
            </div>
        </div>
    </div>
</section>
<!-- End Features -->
<!-- Testimonials -->
<section class="testimonials overlay section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonial-slider">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <img src="~/Content/Assets/img/nopic.png" alt="#">
                        <div class="main-content">
                            <h4 class="name">Mrs. Chioma</h4>
                            <p>Am really grateful to the management of Holy Rosary Secondary School Umuahia for their continous effort in raising my children in a Godly manner.</p>
                        </div>
                    </div>
                    <!--/ End Single Testimonial -->
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <img src="~/Content/Assets/img/nopic.png" alt="#">
                        <div class="main-content">
                            <h4 class="name">Mr. Kelvin</h4>
                            <p>I would love to say that the Holy Rosary Secondary School Umuahia  is one of the best in Nigeria. Apart from teaching academics, they also impact good morals in their students.</p>
                        </div>
                    </div>
                    <!--/ End Single Testimonial -->
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <img src="~/Content/Assets/img/nopic.png" alt="#">
                        <div class="main-content">
                            <h4 class="name">Mr/Mrs. Okafor</h4>
                            <p>Thank you the school management for your hardwork in making this school unique and conducive for learning.</p>
                        </div>
                    </div>
                    <!--/ End Single Testimonial -->
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <img src="~/Content/Assets/img/nopic.png" alt="#">
                        <div class="main-content">
                            <h4 class="name">Madam Nkechi</h4>
                            <p>Kudos to the school authority, am so happy that my kid is a member of this school and would encourage others to send their children to Holy Rosary Secondary School.</p>
                        </div>
                    </div>
                    <!--/ End Single Testimonial -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Testimonials -->
<!-- Fun Facts -->
<div class="fun-facts overlay" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-institution"></i>
                    <div class="number"><span class="counter">1400</span>+</div>
                    <p>Active Students</p>
                </div>
                <!--/ End Single Fact -->
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-graduation-cap"></i>
                    <div class="number"><span class="counter">32</span>+</div>
                    <p>Our Teachers</p>
                </div>
                <!--/ End Single Fact -->
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-video-camera"></i>
                    <div class="number"><span class="counter">1500</span>+</div>
                    <p>Our Clients</p>
                </div>
                <!--/ End Single Fact -->
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <!-- Single Fact -->
                <div class="single-fact">
                    <i class="fa fa-trophy"></i>
                    <div class="number"><span class="counter">20</span>+</div>
                    <p>Awards Won</p>
                </div>
                <!--/ End Single Fact -->
            </div>
        </div>
    </div>
</div>
<!--/ End Fun Facts -->
<!-- Events -->
<!--<section class="events section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Our <span>Photos</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="event-slider">-->
                    <!-- Single Event -->
                    <!--<div class="single-event">
                        <div class="head overlay">
                            <img src="#" alt="#">
                            <a href="#" data-fancybox="photo" class="btn"><i class="fa fa-search"></i></a>
                        </div>

                    </div>-->

                   
                   
                    <!--/ End Single Event -->
                <!--</div>
            </div>
        </div>
    </div>
</section>-->
<!--/ End Events -->
<!-- Blogs -->
<section class="blog section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Latest <span>News</span></h2>
                    <p>Get to know more our latest events and happenings in  the educational system. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="blog-slider">
                    @Html.Action("_News", "Home")

                </div>
            </div>
        </div>

    </div>
</section>
<!--/ End Blogs -->